.meme {
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    line-height: 0.8;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: -2px;

    height: 500px;
    margin: auto;
    width: 500px;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.memeImg {
    z-index: -1 ;
    height: 500px;
    width: 500px;
    position: fixed;
}
.memeList {
    display: flex;
    flex-flow: wrap;
}
.delBtn {
    position: absolute;
    background-color: red;
    border: solid 5px black;
    border-radius: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
    line-height: 33px;
    cursor: pointer;
}
